#settings for service 'web' in docker-compose.yml
DB_HOST=db

#database name for web and db
DB_NAME=pred
POSTGRES_DB=pred

#database user for web and db
DB_USER=pred_user
POSTGRES_USER=pred_user

#database password for web and db
DB_PASS=pred_password
POSTGRES_PASSWORD=pred_password
