
/**
Styles must match up with react-loader.
Center text just below spinner.
*/
.LabeledLoader_label_container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
}

.LabeledLoader_label {
    text-align: center;
    position: absolute;
    left: -200px;
    top: 30px;
    width: 400px
 }