
.NavBar_app_title {
    letter-spacing: 0.05em;
    font-size: 22pt;
    font-family: "Open Sans", sans-serif;
}

.NavBar_app_subtitle {
    color: white;
    padding-left: 15px;
    white-space: nowrap;
    padding-top: 15px;
    font-size: 12pt;
    height: 50px;
}

.NavBar_menu_item {
    letter-spacing: 0.07em;
    font-size: 11pt;
    font-family: "Open Sans", sans-serif;
}

.NavBar_logo_container {
    position: absolute;
    width: 100%;
}

.NavBar_logo_parent {
    float: right;
}

.NavBar_logo_image {
    margin-top: 24px;
    height: 60px;
}