
.std_left_right_margin {
    margin-left: 30px;
    margin-right: 30px;
}

.std_bottom_margin {
    margin-bottom: 30px;
}
/* styles for use with ./table/*.jsx */
.table_header_cell {
    padding: 10px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.0625em;
}

.table_cell {
    padding: 10px;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    vertical-align: top;
}

.table_row {
    border-bottom: 1px solid grey;
}

#scrolling_div_container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    /* you must specify some kind of height like - height: 75%; */
}

#scrolling_div_child {
    -webkit-flex: 1 1 auto;
    min-height: 100px;
    overflow-y: auto;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

.badValue {
    background: red;
}