/** placeholder for AboutContent styling **/
.AboutContent_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutContent_group_label {
    font-weight: bold;
    margin-bottom: 4px;
}
.AboutContent_paragraph {
    max-width: 700px;
}